BASE_URL=https://www.saucedemo.com/
TIMEOUT=30000

STANDARD_USER=<insert_standard_username_here>
LOCKED_OUT_USER=<insert_locked_out_username_here>
PROBLEM_USER=<insert_problem_username_here>
PERFORMANCE_GLITCH_USER=<insert_performance_glitch_username_here>
ERROR_USER=<insert_error_username_here>
PASSWORD=<insert_password_here>
